<%= form_with(model: comment, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong>ТЕКСТ:</strong>
    <%= form.text_field :body %>
  </div>

  <div class="field">
    <strong>АВТОР:</strong>
    <%= form.text_field :author %>
  </div>

  <%= form.fields_for :post do |post| %>

  <h2>ПОСТ</h2>

  <div class="field">
    <strong>ЗАГОЛОВОК:</strong>
    <%= @comment.post.title %>
  </div>

  <div class="field">
    <strong>АВТОР:</strong>
    <%= @comment.post.author %>
  </div>

  <div class="field">
    <strong>ТЕКСТ:</strong>
    <%= @comment.post.body %>
  </div>

  <% end %>

  <div class="actions">
    <input type="submit" name="commit" value="ОНОВИТИ" data-disable-with="Update Comment">
  </div>
<% end %>
